<%-include('header')%>
  <link rel='stylesheet' href='/stylesheets/detail.css'>

  <div class="container box-back mt-md-4">
    <div class="back-img w-100" id="back-img ">
      <img class="w-100" src="/images/juego<%=result.id%>.jpg" alt="error">
    </div>
  </div>

  <main class="container main-detalle">

    <section class="row">

      <div class="contenedor-foto col-sm-12 col-md-6 col-lg-5">
        <div class="ms-md-5 p-md-3">
          <div class="border border-warning resenias">
            <img class="w-100" src="/images/imagesColor/<%=result.title%>.jpg" alt="error">
          </div>
          <div class="d-flex w-100 mt-3">
            <a href="<%=result.freetogame_profile_url%>" target="_blank" class="btn btn-warning w-50 me-1">FREE</a>
            <a href="<%=result.game_url%>" target="_blank" class="btn btn-warning w-50">PLAY NOW</a>
          </div>
        </div>
      </div>
      <section class="col-sm-12 col-md-6 col-lg-7 margin-section">
        <h1 class="">
          <%=result.title%>
        </h1>
        <section class="h-md-25">
          <ul class="ps-0">
            <li class="mt-md-1">Reseñas recientes: Muy positivas</li>
            <li class="mt-md-1">Reseñas generales: Muy positivas</li>
          </ul>
          <div class="mt-1">
            <img src="/images/logos/ten.png" title="ten" alt="logo">
          </div>
        </section>
        <section class="pt-md-4 h-md-25 margin-section">
          <h2>About <%= result.title%>
          </h2>
          <p>
            <%=result.short_description%>
          </p>
        </section>
        <section class="h-md-25 margin-section">
          <h2>Additional Information</h2>
          <ul class="row ps-0">
            <li class="col-6"><span>PLATFORM: </span>
              <%=result.platform%>
            </li>
            <li class="col-6"><span>PUBLISHER: </span>
              <%=result.publisher%>
            </li>
            <li class="col-6"><span>DEVELOPER: </span>
              <%=result.developer%>
            </li>
            <li class="col-6"><span>RELEASE DATE: </span>
              <%=result.release_date%>
            </li>
          </ul>
        </section>
      </section>
    </section>
  </main>


  <%-include('footer')%>